<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title><%= page.title %></title>
    <link><%= page.canonical || url() %></link>
    <description><%= page.description %></description>
    <atom:link xmlns:atom="http://www.w3.org/2005/Atom" rel="self" 
               href="<%= url() %>" 
               type="application/rss+xml"/>  
    <% posts.data.rows.forEach(function(row){ %>
    <item>
      <title><%= row.value.title %></title>
      <description><![CDATA[ <%- markdown(row.value.content) %>]]></description>
      <link><%= url('/posts/p/' + row.value._id) %></link>
      <guid><%= url('/posts/p/' + row.value._id) %></guid>
      <pubDate><%= new Date(row.value.updated_at).toGMTString() %></pubDate>
    </item>
    <% }) %>
  </channel>
</rss>

