<div class="posts">
  <section class="main">
    <article class="entry permalink">
      <header>
        <h3><%= post.data.title %></h3>
      </header>
      <ul class="tags">
        <% for(var i in post.data.tags ) { %>
        <li><a href="/posts/t/<%= encodeURIComponent(post.data.tags[i]) %>" class="tag-link"><%= post.data.tags[i] %></a></li>
        <% } %>
      </ul>
      <div class="content">
        <%- markdown(post.data.content) %>
      </div>
      <footer>
        <a href="/posts/p/<%= post.data._id %>" title="" class="permalink"><%= _("posts.permalink") %></a>
        <%= _("posts.updated_by") %>: <%= post.data.updated_by.userName %>
        <%= php.strftime(_("posts.date_format"), new Date(post.data.updated_at)) %>
      </footer>
    </article>
  </section>
  <%- partial('sidebar') %>
</div>
