<div class="posts">
  <section class="main">
    <article class="entry permalink">
      <header>
        <div class="sns">
          <a href="http://twitter.com/share" class="twitter-share-button" data-url="<%= url('/post.data/' + post.data._id) %>" data-text="<%= post.data.title %>" data-count="horizontal" data-via="<%= post.data.updated_by.userName %>">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
          <iframe src="http://www.facebook.com/plugins/like.php?href=<%= encodeURIComponent(url('/post.data/' + post.data._id)) %>&amp;width=80&amp;height=20&amp;layout=button_count&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;height=21px" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:20px;" allowTransparency="true"></iframe>
        </div>
        <h3><%= post.data.title %></h3>
      </header>
      <ul class="tags">
        <% for(var i in post.data.tags ) { %>
        <li><a href="/posts/t/<%= encodeURIComponent(post.data.tags[i]) %>" class="tag-link"><%= post.data.tags[i] %></a></li>
        <% } %>
      </ul>
      <div class="content">
        <%- markdown(post.data.content) %>
      </div>
      <footer>
        <a href="/posts/p/<%= post.data._id %>" title="" class="permalink"><%= _("posts.permalink") %></a>
        <%= _("posts.updated_by") %>: <%= post.data.updated_by.userName %>
        <%= php.strftime(_("posts.date_format"), new Date(post.data.updated_at)) %>
      </footer>
    </article>
  </section>
  <%- partial('sidebar') %>
</div>
