<div class="posts">
  <article class="main" id="posts">
    <h2><%= _("posts.admin") %></h2>
    <div class="pagination">
      <div class="prev">
        <a href="#prev"><%= _("posts.previous") %></a>
      </div>
      <div class="next">
        <a href="#next"><%= _("posts.next") %></a>
      </div>
    </div>
    <%- posts %>
  </article>
  <aside class="sidebar">
    <div class="content">
      <h3><%= _("posts.menu") %></h3>
      <ul>
        <li><a href="/posts/admin/new" class="ctrl"><%= _("posts.new") %></a></li>
        <li><a href="/posts/admin/" class="ctrl"><%= _("posts.admin") %></a></li>
      </ul>
    </div>
    <div class="content">
      <h3><%= _("posts.archive") %></h3>
      <%- archives %>
    </div>
  </aside>
</div>
