<ul class="archives">
  <% for(var i in data.rows){ %>
  <% var archive = data.rows[i]; %>
  <% var t = new Date(archive.key[0], archive.key[1] -1, 1) %>
  <% var label = php.strftime(_("posts.archive_label"), t) %>
  <li>
      <a href="/posts/archives/<%= php.strftime('%Y', t) %>/<%= php.strftime('%m', t) %>/"
         class="archive-link"
         title="<%= label %>">
      <%= label %> (<%= archive.value %>)
    </a>
  </li>
  <% } %>
</ul>
