<% var tc = tagCloud(data); %>
<ul class="tag-cloud">
  <% for(var i in tc){ %>
  <li><a href="/posts/t/<%= encodeURIComponent(tc[i].tag) %>" 
         class="rank-<%= tc[i].rank %>"
         title="<%= tc[i].tag %> (<%= tc[i].count %>)"><%= tc[i].tag %></a></li>
  <% } %>
</ul>
