<% 
   // TODO: /posts/ should be replaced for application root;
   var appRoot = "/posts"
   var action = appRoot + "/p/";
   var hidden = {};
   if( data._rev && data._id ){ 
   action = appRoot + "/" + data._id;
   hidden = { 
   _rev: data._rev,
   _method: "PUT"
   };
   } 
   %>
<% if( error && error.error != 'not_found' ) { %>
<div class="error">
  <%= error.reason %>
</div>
<% } %>
<form id="postEditor" action="<%= action %>" method="POST">
  <% for(var name in hidden){ %>
  <input type="hidden" name="<%= name %>" value="<%= hidden[name] %>" >
  <% } %>
  <div class="fieldRow">
    <label for="title"><%= _('posts.title') %></label>
    <input type="text" id="title" name="title" 
           class="title span-19 last required preventSubmit"
           style="width:99%"
           value="<%= data.title %>"></input>
  </div>
  <div class="fieldRow">
    <label for="tags"><%= _("posts.tags") %></label>
    <input type="text" id="tags" name="tags" 
           class="last span-19 text preventSubmit"
           style="width:99%"
           value="<%= (data.tags || []).join(', ') %>"></input>
  </div>
  <div class="fieldRow">
    <label for="content"><%= _('posts.content') %></label>
    <textarea name="content" class="text span-19 required" rows="20"><%= data.content || "" %></textarea>
  </div>
  <div class="fieldRow">
    <div class="span-2">
      <label for="is_draft"><%= _("posts.is_draft") %></label>
      <input type="checkbox" name="is_draft" 
             class="preventSubmit" value="1"></input>
    </div>
    <div class="span-4 prepend-13 last">
      <button type="submit"><%= _("posts.submit") %></button>
      <button type="button" class="cancel" onclick="javascript:history.back()"><%= _("posts.cancel") %></button>
    </div>
  </div>
</form>
