<% if( data.total_rows == 0 ){ %>
<%- info(_("posts.not_found")) %>
<% }else if( data.rows.length == 0 ){ %>
<%- info(_("posts.not_found")) %>
<% } %>
<% for(var i in data.rows){ %>
<% var post = data.rows[i].value; %>
<article class="entry list">
  <header>
    <h3><%= post.title %></h3>
  </header>
  <div class="content">
    <%- markdown(post.content) %>
  </div>
  <footer>
    <a href="/posts/<%= post._id %>" title="" class="permalink"><%= _("posts.permalink") %></a>
    <span class="updated_by"><%= _("posts.updated_by") %>: <%= post.updated_by.userName %></span>
    <span class="updated_at"><%= php.strftime(_("posts.date_format"), new Date(post.updated_at)) %></span>
  </footer>
</article>
<% } %>
