<aside class="sidebar">
  <div class="content menu">
    <h3><%= _("posts.menu") %></h3>
    <ul>
      <li><a href="/posts/admin/new" class="ctrl posts-new"><%= _("posts.new") %></a></li>
      <li><a href="/posts/admin/" class="ctrl posts-admin"><%= _("posts.admin") %></a></li>
    </ul>
  </div>
  <div class="content archive">
    <h3><%= _("posts.archive") %></h3>
    <%- archives %>
  </div>
</aside>
