<% title('System') %>
<div class="system">
  <h2>System Info</h2>
  <article class="app_info">
    <h3>Application Info</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Version</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody>
        <% installedApps.forEach(function(appInfo){ %>
        <tr>
          <td><%= appInfo.name %></td>
          <td><%= appInfo.description %></td>
          <td><%= appInfo.version %></td>
          <td><%= appInfo.author %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </article>
  <article class="runtime_info">
    <h3>Runtime Info</h3>
    <section class="platform">
      <h4>Platform Version</h4>
      <dl>
        <dt>Sunrise</dt>
        <dd><%= version.sunrise %></dd>
        <dt>Node</dt>
        <dd><%= version.node %></dd>
        <dt>CoucDB</dt>
        <dd><%= version.couchdb %></dd>
      </dl>
    </section>
    <section class="stats">
      <h4>Current Statistics</h4>
      <dl>
        <dt>Server boot time</dt>
        <dd><time datetime="<%= stats.serverBootTime %>"><%= stats.serverBootTime %></time></dd>
        <dt>Memory Usage</dt>
        <dd>
          <dl>
            <dt>RSS</dt><dd><%= sprintf("%.2f", (stats.rss / 1024 / 1024)) %>MB</dd>
            <dt>VSIZE</dt><dd><%= sprintf("%.2f", (stats.vsize / 1024 / 1024)) %>MB</dd>
            <dt>Heap Total</dt><dd><%= sprintf("%.2f", stats.heapTotal / 1024 / 1024) %>MB</dd>
            <dt>Heap Used</dt><dd><%= sprintf("%.2f", stats.heapUsed / 1024 / 1024) %>MB (<%= sprintf("%.2f", (stats.heapUsed / stats.heapTotal) * 100) %>%)</dd>
          </dl>
        </dd>
      </dl>
    </section>
  </article>
</div>
