<div class="menu">
  <h3><%= _("posts.sidebar.menu.title") %></h3>
  <ul>
    <li><a class="posts-admin" href="<%= url('/admin/') %>"><%= _("posts.admin.managePosts") %></a></li>
    <li><a class="posts-new" href="<%= url('/admin/new') %>"><%= _("posts.admin.createPost") %></a></li>
  </ul>
</div>
