<article class="post <%= this.is_draft ? 'draft' : 'published' %>"  
         data-key="<%= this._key %>"
         data-docid="<%= this._id %>"
         data-docrev="<%= this._rev %>"
         data-permalink="<%= url('/p/' + this._id) %>"
         title="<%= this.title %>">
  <header>
    <h3><%= this.title %></h3>
  </header>
  <ul class="tags">
    <% (this.tags || []).filter(function(t){return (t && t != ''); }).forEach(function(t){ %>
    <li><a class="tag-link" href="/posts/t/<%= encodeURIComponent(t) %>/"><%= t %></a></li>
    <% }) %>
  </ul>
  <div class="content">
    <%- markdown(this.content) %>
  </div>
  <footer>
    <a class="permalink" title="<%= this.title %>"
       href="<%= url('/p/' + this._id) %>"><%= _("posts.permalink") %></a>
    <a class="posts-edit" title="<%= _('posts.edit') %>: <%= this.title %>"
       href="<%= url('/admin/edit/' + this._id) %>"><%= _("posts.edit") %></a>
    <a class="posts-delete" title="<%= _('posts.delete') %>: <%= this.title %>"
       href="<%= url('/p/' + this._id) %>"><%= _("posts.delete") %></a>
    <time datetime="<%= this.updated_at %>" class="updated_at"><%= this.updated_at %></time>
    <time datetime="<%= this.created_at %>" class="created_at"><%= this.updated_at %></time>
    <%- $system.linkToUser(this.updated_by) %>
  </footer>
  <script type="text/javascript">
    $(function(){$('article.post[data-docid="<%= this._id %>"]').bindDelete();});
  </script>
</article>
