<aside class="sidebar">
  <div class="content">
    <h3><%= _("posts.menu") %></h3>
    <ul>
      <li><a href="/posts/admin/new" class="ctrl"><%= _("posts.new") %></a></li>
      <li><a href="/posts/admin/" class="ctrl"><%= _("posts.admin") %></a></li>
    </ul>
  </div>
  <div class="content">
    <h3><%= _("posts.archive") %></h3>
    <%- archives %>
  </div>
</aside>
<div class="mainContents">
  <article class="posts" id="posts">
    <h2><%= _("posts.admin") %></h2>
    <div class="content">
      <div class="pagination">
        <a href="#prev" class="prev"><%= _("posts.previous") %></a>
        <a href="#next" class="next"><%= _("posts.next") %></a>
      </div>
      <div id="admin_list">
        <%- posts %>
      </div>
    </div>
  </article>
</div>
