<% title(sprintf(_("posts.archives.title"), request.params.year, request.params.month)) %>
<div class="posts">
  <h2><%= sprintf(_("posts.archives.title"), request.params.year, request.params.month) %></h2>
  <div class="main">
    <% if( posts.data.length > 0 ){ %>
    <div class="list">
      <%- partial('parts/posts', {object: posts.data, as: this}) %>
    </div>
    <script type="text/javascript">
      $(function(){ $('div.posts. div.main div.list').bindList(); });
    </script>
    <% }else{ %>
    <p><%= _('posts.no_posts_found') %></p>
    <% } %>
  </div>
  <aside class="sidebar">
    <%- partial('parts/menu') %>
    <%- partial('parts/archives', {object: archives.data, as: this}) %>
  </aside>
</div>
