<% title(request.params.tag) %>
<div class="posts">
  <h2><%= request.params.tag %></h2>
  <div class="main">
    <% if( posts.data.length > 0 ){ %>
    <div class="list">
      <%- partial('parts/posts', {object: posts.data, as: this}) %>
      <div class="readmore" data-apipath="<%= url('/-/t/' + encodeURIComponent(request.params.tag) + '/') %>">
        <%= _('posts.read_more') %>
      </div>
    </div>
    <script type="text/javascript">
      $(function(){ $('div.posts. div.main div.list').bindList(); });
    </script>
    <% }else{ %>
    <p><%= _('posts.no_posts_found') %></p>
    <% } %>
  </div>
  <aside class="sidebar">
    <%- partial('parts/sidebar') %>
  </aside>
</div>
