<!DOCTYPE html>
<% $system.required() /* to add static resources required by $system helper */ %>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= page.title %> - sunrise</title>
    <% if( page.feed ){ %><link rel="alternate" type="application/rss+xml" title="<%= page.title %>" href="<%= page.feed %>" /><% } %>
    <% if( page.canonical ){ %><link rel="canonical" href="<%= page.canonical %>" /><% } %>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/blitzer/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/blueprint/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/vendor/blueprint/blueprint/print.css" type="text/css" media="print">	
    <!--[if lt IE 8]><link rel="stylesheet" href="/vendor/blueprint/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="/css/sunrise.css" type="text/css" />
    <% for(var i in page.stylesheets){ %>
    <link rel="stylesheet" href="<%= page.stylesheets[i] %>" type="text/css" />
    <% } %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
  </head>
  <body>
    <header id="siteHeader" class="container">
      <%- $system.logo() %>
      <%- $system.accountNavigation('twitter') %>
      <%- $system.siteNavigation() %>
    </header>
    <hr />
    <div id="main" class="container">
      <%- body %>
    </div>
    <hr />
    <footer id="siteFooter" class="container">
      <p class="copyright">
        &copy; 2010 - 2011
        <a href="https://github.com/yssk22/sunrise">Sunrise Project</a>
      </p>
    </footer>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <% for(var i in page.javascripts){ %>
    <script type="text/javascript" src="<%= page.javascripts[i] %>"></script>
    <% } %>
  </body>
</html>
