<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= page.title %> - sunrise</title>
    <% if( page.feed ){ %><link rel="alternate" type="application/rss+xml" title="<%= page.title %>" href="<%= page.feed %>" /><% } %>
    <% if( page.canonical ){ %><link rel="canonical" href="<%= page.canonical %>" /><% } %>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/blitzer/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/blueprint/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/vendor/blueprint/blueprint/print.css" type="text/css" media="print">	
    <!--[if lt IE 8]><link rel="stylesheet" href="/vendor/blueprint/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="/css/sunrise.css" type="text/css" />
    <% for(var i in page.stylesheets){ %>
    <link rel="stylesheet" href="<%= page.stylesheets[i] %>" type="text/css" />
    <% } %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  </head>
  <body>
    <header id="siteHeader" class="container">
      <h1 class="logo">
        <a href="/">Sunrise</a>
        <span class="subTitle">Application container framework powered by node.js</span>
      </h1>
      <nav id="accountNavigation">
        <ul>
          <% if( isLogin ){ %>
          <li class="user"><%= currentUser.userName %></li>
          <li class="user"><a href="/sunrise/logout">Logout</a></li>
          <% }else{ %>
          <li class="guest"><%= currentUser.userName %></li>
          <li class="guest"><a href="/sunrise/login/twitter">Login</a></li>
          <% } %>
        </ul>
      </nav>
      <nav id="siteNavigation" class="clear">
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </header>
    <hr />
    <div id="main" class="container">
      <%- body %>
    </div>
    <hr />
    <footer id="siteFooter" class="container">
      <p class="copyright">
        &copy; 2010 - 2011
        <a href="https://github.com/yssk22/sunrise">sunrise</a>
      </p>
    </footer>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/vendor/json2.js"></script>
    <% for(var i in page.javascripts){ %>
    <script type="text/javascript" src="<%= page.javascripts[i] %>"></script>
    <% } %>
  </body>
</html>
